<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelpDeskChat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelpDeskChat.styles.css" asp-append-version="true" />
    @RenderSection("style", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" id="username">HelpDeskChat</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="cursor:pointer" id="logoff">Sair</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* chat *@
    <div id="chat-container" style="z-index:4000;display:none">
        <div id="chat-header">Chatbox<button id="close-button">_</button></div>
        <div id="chat-box">
            <!-- Messages here -->
        </div>
        <textarea id="message-input" style="max-height:150px;" placeholder="Digite sua mensagem"></textarea>
        <button id="send-button" class="btn btn-primary">Enviar</button>
    </div>

    <i class="bi bi-chat-dots-fill" id="toggle-button" style="z-index:4000;display:none"></i>
    @* end chat *@

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HelpDeskChat - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/employee-chat.js"></script>
    <script src="~/js/customer-chat.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        document.querySelector('#logoff').addEventListener('click', () => {
            deleteUser();
            window.location.href = "/User/Login";
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
